@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Hind+Vadodara|Raleway';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
body, div, select,article,
ul,li,header,nav,p{
  margin: 0px;
  padding: 0px;

}

a{
  color:#989faf;
  text-decoration: none;
}

h1{
  font-size: 55px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 62px;
  margin-left: -3px;
}
header{
    margin-top: 40px;
    width: 100%;
}

.logo{
  width: 12%;
}
.casestudy{
  width: 10%;
}

.box>p{
  text-align: center;
  font-size:19px;
  margin-top: 16px;
  margin-bottom: 16px;

}
.box{
  display: block;
  width: 100%;
  text-align: center;
}
.box-menu{
  font-family: 'Hind Vadodara', sans-serif;
  display: inline-block;
  float:right;
  margin-right: 50px;
}
.box1{
  color:#737c93;
}
.box2{

  background-color: #8696b3;
  padding-top: 50px;
}
.box2>h2{
    color:white;
    font-size: 40px;
    font-weight: 300;
    font-family: "Open Sans Condensed",sans-serif;
    letter-spacing: -2px;
}
.menu>li{
  display: inline-block;
  font-size: 16px;
  margin-right: 70px;

}
#form-contact{
  margin-top: 50px;
  text-align: center;
}
/**la damos formato al input de email  **/
#form-contact>#input-email{
  width: 300px;
  height: 30px;
  border: 2px solid #edf0f6;
  font-size: 16px;
  border-radius: 6px 0 0 6px;
  border-right: 0px;
  padding:10 20px;
  vertical-align:top;
}
#form-contact>#input-button{
  background-color: #8e74c5;
  border-radius: 0 3px 3px 0;
  font-size: 16px;
  font-weight: 900;
  color:white;
  margin: 0;
  padding: 17px 34px;
  width: 109px;
}
/*section 3 cajas  */

.cart{
border:2px solid red;
  width: 333px;
  height: 280px;
  margin: 5px;
  display: inline-block;
}
#cart1{
  background-color: #ba9fef;
}
#cart2{
  background-color: #97abce;
}

#cart3{
  background-color: #f49241;
}
#cart5{
  background-color: #0ebde9;
}

/*information*/

.information{
    color:#ffffff;
    text-align: center;
    background-color: #95a6c7;
}

.information>p{
  width: 760px;
  margin: 24px auto 68px;
  line-height: 24px;

}
.information>section>a{
  display: inline-block;
}
